<div class="container">
  <div class="row">
    <div class="col-12-xs">
      <h1><%= @task.title  %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12-xs alert alert-secondary">
      <p><%= @task.details  %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12-xs">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="<%= @task.completed %>" id="<%= @task.id %>"
            <%= @task.completed ? "checked" : "" %>
            >
        <label class="form-check-label" for="<%= @task.id %>">
            <%= @task.completed ? "This task is completed" : "This task is not completed yet" %>
        </label>
      </div>
    </div>
  </div>
  <hr>
   <div class="row">
    <div class="col-12-xs">
      <p><%= link_to "edit task", edit_task_path, class: 'btn btn-primary' %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12-xs">
      <p><%= link_to "see all task", tasks_path, class: 'btn btn-secondary'%></p>
    </div>
  </div>
</div>
